    {{#isPOST}}
    public {{&methodName}}(
    {{#parameters}}{{^isSingleton}}{{&camelCaseName}}{{&cardinality}}: {{> type}},
    {{/isSingleton}}{{/parameters}}
    ): AxiosPromise<{{&successfulResponseType}}> {
        return this.axios.post ("{{&path}}", {{#parameters}}{{^isSingleton}}{{&camelCaseName}}{{&cardinality}}
        {{/isSingleton}}{{/parameters}});
    }
    {{/isPOST}}
    
    {{#isGET}}
    public {{&methodName}}(
        params : {
            {{#parameters}}{{^isSingleton}}{{&camelCaseName}}{{&cardinality}}: {{> type}},{{/isSingleton}}{{/parameters}}
        }
    ): AxiosPromise<{{&successfulResponseType}}> {
        return this.axios.get ("{{&path}}", {params});
    }
    {{/isGET}}

    
    {{#isPUT}}
    public {{&methodName}}(
    {{#parameters}}{{^isSingleton}}{{&camelCaseName}}{{&cardinality}}: {{> type}},
    {{/isSingleton}}{{/parameters}}
    ): AxiosPromise<{{&successfulResponseType}}> {
        return this.axios.put ("{{&path}}", {{#parameters}}{{^isSingleton}}{{&camelCaseName}}{{&cardinality}}
        {{/isSingleton}}{{/parameters}});
    }
    {{/isPUT}}


    {{#isPATCH}}
    public {{&methodName}}(
    {{#parameters}}{{^isSingleton}}{{&camelCaseName}}{{&cardinality}}: {{> type}},
    {{/isSingleton}}{{/parameters}}
    ): AxiosPromise<{{&successfulResponseType}}> {
        return this.axios.patch ("{{&path}}", {{#parameters}}{{^isSingleton}}{{&camelCaseName}}{{&cardinality}}
        {{/isSingleton}}{{/parameters}});
    }
    {{/isPATCH}}

