    {{#isPOST}}
    public {{&methodName}}(
    {{#parameters}}{{^isSingleton}}{{&camelCaseName}}{{&cardinality}}: {{> type}},
    {{/isSingleton}}{{/parameters}}
    ): AxiosPromise<{{&successfulResponseType}}> {
        return this.axios.post ("https://api.becopay.com/invoice", {{#parameters}}{{^isSingleton}}{{&camelCaseName}}{{&cardinality}}
        {{/isSingleton}}{{/parameters}});
    }
    {{/isPOST}}
    
    {{#isGET}}
    public {{&methodName}}(
    {{#parameters}}{{^isSingleton}}{{&camelCaseName}}{{&cardinality}}: {{> type}},
    {{/isSingleton}}{{/parameters}}
    ): AxiosPromise<{{&successfulResponseType}}> {
        return this.axios.get ("https://api.becopay.com/invoice", {{#parameters}}{{^isSingleton}}{{&camelCaseName}}{{&cardinality}}
        {{/isSingleton}}{{/parameters}});
    }
    {{/isGET}}

    
    {{#isPUT}}
    public {{&methodName}}(
    {{#parameters}}{{^isSingleton}}{{&camelCaseName}}{{&cardinality}}: {{> type}},
    {{/isSingleton}}{{/parameters}}
    ): AxiosPromise<{{&successfulResponseType}}> {
        return this.axios.put ("https://api.becopay.com/invoice", {{#parameters}}{{^isSingleton}}{{&camelCaseName}}{{&cardinality}}
        {{/isSingleton}}{{/parameters}});
    }
    {{/isPUT}}


    {{#isPATCH}}
    public {{&methodName}}(
    {{#parameters}}{{^isSingleton}}{{&camelCaseName}}{{&cardinality}}: {{> type}},
    {{/isSingleton}}{{/parameters}}
    ): AxiosPromise<{{&successfulResponseType}}> {
        return this.axios.patch ("https://api.becopay.com/invoice", {{#parameters}}{{^isSingleton}}{{&camelCaseName}}{{&cardinality}}
        {{/isSingleton}}{{/parameters}});
    }
    {{/isPATCH}}

